.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.headers {
  color: #42aaff;
}

.userCardImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.title {
  color: #42aaff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.info {
  text-align: center;
}

.infoElem {
  margin: 3px;
}

@media screen and (max-width: 425px) {
  .userCard {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}
